@import "_variables";

for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

@import "_mixins";

for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

if $colors = hexo-config('style.colors')
  @import $colors;
else
  @import "_colors";

if $_iconfont = hexo-config('style.iconfont')
  @import $_iconfont;
else
  @import "_iconfont";

if $_iconfont_plus = hexo-config('style.iconfont_plus')
  @import $_iconfont_plus;
else
  @import "_iconfont_plus";

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";

if $custom = hexo-config('style.custom')
  @import $custom;

for $inject_style in hexo-config('injects.style')
  @import $inject_style;

.wl-recent-item {
padding: .5rem 0 .5rem 0;
border-bottom: .0625rem dashed var(--grey-4);
}
